<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container">
  <h1><%= event.title %></h1>

  <p><strong>Description:</strong> <%= event.description %></p>
  <p><strong>Date:</strong> 
    <% if (new Date(event.startDate).toDateString() === new Date(event.endDate).toDateString()) { %>
      <%= new Date(event.startDate).toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' }) %>
    <% } else { %>
      <%= new Date(event.startDate).toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' }) %> to <%= new Date(event.endDate).toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' }) %>
    <% } %>
  </p>
  <p><strong>Time:</strong> <%= event.time %></p>
  <p><strong>Venue:</strong> <%= event.venue %></p>
  <p><strong>Category:</strong> <%= event.category %></p>
  <p><strong>Organizer:</strong> <%= event.organizer %></p>
  <p><strong>Event Host:</strong> <%= event.createdBy.name %></p>

  <hr>

  <h3><%= attendeeCount %> / <%= event.maxAttendees %> attending</h3>

  <% if (event.attendees.length === 0) { %>
    <p>No attendees yet.</p>
  <% } else { %>
    <ul>
      <% event.attendees.forEach(attendee => { %>
        <li><%= attendee.username %> - <%= attendee.email %></li>
      <% }) %>
    </ul>
  <% } %>
  <% if (event.waitlist.length === 0) { %>
    <h3> No Waitlisted Attendees</h3>
  <% } else { %>
    <h3>Waitlist</h3>
    <ul>
      <% event.waitlist.forEach(waitlst => { %>
        <li><%= waitlst.username %> - <%= waitlst.email %> </li>
      <% }); %>
    <% } %>
    </ul>
  <hr>

  <% if (!currentUser) { %>
    <p><a href="/login">Login</a> to RSVP.</p>
  <% } else if (isOwner) { %>
    <p>You cannot join your own event.</p>
  <% } else if (!hasJoined) { %>
    <form action="/events/<%= event._id %>/rsvp" method="POST">
      <button type="submit">Join Event</button>
    </form>
  <% } else { %>
    <p>You have already joined this event.</p>
    <form action="/events/<%= event._id %>/cancel-rsvp" method="POST">
      <button type="submit">Cancel Booking</button>
    </form>
  <% } %>
</div>

