<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container">
  <h1>Event is Full</h1>
  
  <p><strong>Do you want to join the Waitlist?</strong></p>

  <hr>

  <form action="/events/<%= event.id %>/Waitlisted" method="POST" style="display: inline-block;">
    <button type="submit">Yes, Join Waitlist</button>
  </form>

  <a href="/events/<%= event.id %>">
    <button type="button">No, Go Back</button>
  </a>
</div>

<%- include('partials/footer') %>